.navbar-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4d7f7f;
  color: #fff;
  padding: 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 10%;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20%;
}

.navbar-item {
  margin-left: 40px;
}

.navbar-link {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #ccc;
}

.selftest {
}
